{% extends "base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Plain Page</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Order Summary</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  
                  <div >
                    <h5 ><b>Requests ID : {{item['_id']}}</b></h5>
                    <h5 >{{item['from']}} requests for {{item['qty']}} units of {{item['idx']}}</h5>
                    <h6 ><i class="fa fa-calendar fa-fw w3-margin-right"></i>Initially requested: {{item['ini_time']}}</h6>
                    <h6 ><i class="fa fa-calendar fa-fw w3-margin-right"></i>Last responded: {{item['last_time']}}</h6>

                    <h5 ><b>Logs:</b></h5>
                    {% for log in item['logs']%}
                      <p>{{log}}</p>
                    {% endfor %}
                    <hr>
                  </div>
                  

                  <div>
                    <form data-parsley-validate action="/accept" method="post">
                      <div class ="hidden">
                        <input type="text" id="idx" name="_id" value={{item['_id']}}>
                      </div>

                      <div>
                        <label for="supply">Supply Quantity</label>
                        <input class="form-control required" type="number" id="supply" name="supply"> 
                      </div>

                      <div class="button">
                        <button type="submit" class="btn btn-default submit">Accept</button>
                      </div>
                    </form>

                    <form data-parsley-validate action="/resource/reject" method="post">
                      <div class ="hidden">
                        <input type="text" id="idx" name="_id" value={{item['_id']}}>
                      </div>                   

                      <div class="button">
                        <button type="submit" class="btn btn-default submit">Reject</button>
                      </div>
                  </form>
                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}

