{% extends "base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ super() }}
    <style type="text/css">
    #map {
  height: 400px;
  width: 100%;
  margin: 15px;
  background-color: grey;
}
  </style>

  <style>
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


</style>
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">

          </div>

          <div class="title_right">

          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Order Summary</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>


                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content row">
                  
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <h5 ><b>Requests ID : {{item['_id']}}</b></h5>

                    <hr>

                     <table style="width:100%">
                              <tr>
                                <td><strong>Request Made by: </strong> </td>
                                <td>{{item['from']}}</td>
                              </tr>
                              <tr>
                                <td><strong>Item: </strong></td>
                                <td>{{item['idx']}}</td>
                              </tr>
                              <tr>
                                <td><strong>Original Request Quantity: </strong> </td>
                                <td>{{item["ini_qty"]}}</td>
                              </tr>
                              <tr>
                                <td><strong>Pending Quantity: </strong> </td>
                                <td>{{item['qty']}}</td>
                              </tr>
                              <tr>
                                <td><strong>Initially requested at: </strong> </td>
                                <td>{{item['ini_time'].strftime('%Y/%m/%d %H:%M:%S')}}</td>
                              </tr>
                              {% if item["ini_qty"] != item["qty"] %}
                              <tr>
                                <td><strong>Last response at: </strong> </td>
                                <td>{{item['last_time'].strftime('%Y/%m/%d %H:%M:%S')}}</td>
                              </tr>
                              {% endif %}
                    </table> 

                    
                    <!-- <h6 ><i class="fa fa-calendar "></i>Initially requested: {{item['ini_time']}}</h6>
                    <h6 ><i class="fa fa-calendar "></i>Last responded: {{item['last_time']}}</h6> -->                 

                    <hr>

                    {% if item['logs']|length > 0 %}
                    <h5 ><b>Logs:</b></h5>
                      <ul>
                        {% for log in item['logs']%}
                          <li>{{log}}</li>
                        {% endfor %}
                      </ul>
                    <hr>
                    {% endif %}

                    <div class="row">
                      {% if not item['from']==g.user['username'] and item['qty'] > 0 %}
                      <div style="display:inline-block;" class="col-md-7 col-sm-7 col-xs-7">
                        <form data-parsley-validate action="/resource/accept" method="post">
                          <div class ="hidden">
                            <input type="text" id="idx" name="_id" value={{item['_id']}}>
                          </div>


                          <div>
                            <label for="supply">Supply Quantity</label>
                            <input class="form-control required" type="number" id="supply" name="supply" placeholder="Enter quantity here"> 
                          </div>

                         
                          <br>                         

                          <button type="submit" class="btn btn-success submit">Supply</button>

                        </form>

                        <form data-parsley-validate action="/resource/reject" method="post">
                          <div class ="hidden">
                            <input type="text" id="idx" name="_id" value={{item['_id']}}>
                          </div>        
            
                          <button type="submit" class="btn btn-danger submit">Reject</button>
                          
                        </form>
                      </div>
                      {%endif%}

                      {% if item['from'] == g.user['username'] and item['qty'] > 0 %}
                      <div style="display:inline-block;" class="col-md-3 col-sm-3 col-xs-3">
                        <form data-parsley-validate action="/resource/terminate" method="post">    
                          <div class ="hidden">
                            <input type="text" id="idx" name="_id" value={{item['_id']}}>
                          </div>   

                            <button type="submit" class="btn btn-danger submit">Terminate</button>
                        </form>
                      </div>
                      {%endif%}

                    

                  </div> 


                  </div>

                   <div style="text-align: center;" id="mapdiv" class="col-md-6 col-sm-6 col-xs-6">
                    {% if not item['from']==g.user['username'] and item['qty'] > 0 %}
                    <div id="map"></div>
                    {% endif %}
                    </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  {% if not item['from']==g.user['username'] and item['qty'] > 0 %}
   <script>
    function initRequestMap() {
    
        var map;
        var sourceLngLat = {{source}};
        var destLngLat = {{dest}};

        var mapOptions = {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        map = new google.maps.Map(document.getElementById('map'), mapOptions);        


        var source = new google.maps.LatLng(sourceLngLat[1], sourceLngLat[0]);
        var sourcemarker = new google.maps.Marker({
                        position: source,
                        map: map
                      });

        var dest = new google.maps.LatLng(destLngLat[1], destLngLat[0]);
        var destmarker = new google.maps.Marker({
                        position: dest,
                        map: map
                      });
            
        map.setCenter(source);

        var path = new google.maps.MVCArray();
 
        //Initialize the Direction Service
        var service = new google.maps.DirectionsService();
 
        //Set the Path Stroke Color
        var poly = new google.maps.Polyline({ map: map, strokeColor: '#4986E7' });

        path.push(source);
        poly.setPath(path);
        service.route({
            origin: source,
            destination: dest,
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        }, function (result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                for (var i = 0, len = result.routes[0].overview_path.length; i < len; i++) {
                    path.push(result.routes[0].overview_path[i]);
                }
            }
        });    


    

        console.log("Map Drawn!");
        
        var service = new google.maps.DistanceMatrixService();
        service.getDistanceMatrix(
          {
            origins: [source],
            destinations: [dest],
            travelMode: 'DRIVING',
          }, callback);

        function callback(response, status) {
          // See Parsing the Results for
          // the basics of a callback function.
          var distance = response["rows"][0]["elements"][0]["distance"]["text"];
          var time = response["rows"][0]["elements"][0]["duration"]["text"];

          var distdiv = document.createElement('div');
          distdiv.innerHTML = "<h3> Distance: " + distance + "</h3>";

          var div = document.getElementById("mapdiv");
          div.appendChild(distdiv);

          var timediv = document.createElement('div');
          timediv.innerHTML = "<h3> Duration: " + time + "</sh3>";

          div.appendChild(timediv);

        }


}
    
   </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{g.api_key}}&callback=initRequestMap"
  type="text/javascript"></script>
  {% endif %}
{% endblock javascripts %}

