{% extends "base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">

          </div>

          <div class="title_right">

          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Request Resource</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>

                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  
                  <form data-parsley-validate action="" method="post">
                    <div>
                      <label for="idx">Resource ID</label>
                      <!--<input type="text" id="idx" name="idx">-->
                      <select class="form-control required" id="idx" name="idx">
                      <option value="water">Water</option>
                      <option value="cloth">Cloth</option>
                      <option value="napkin">Napkin</option>
                      <option value="medicine">Medicine</option>
                      </select>
                    </div>

                    <div>
                      <label for="qty">Quantity</label>
                      <input class="form-control required" type="number" id="qty" name="qty"> 
                    </div>
                    <br>

                      <button type="submit" class="btn btn-info submit">Request</button>

                  </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}

