{% extends "base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <style type="text/css">
    #map {
      height: 400px;
      width: 500px;
      margin: 15px;
      background-color: grey;
    }
  </style>
{% endblock stylesheets %}
{% block body_class %}login{% endblock body_class %}
{% block body %}


    <div id="map"></div>

{% block javascripts %}
  {{ super() }}
   <script>
   	function initLocalMap() {
    
        var map;
    
        var mapOptions = {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        $.ajax({
          url: '/get-local-map-data',
          dataType: 'json',
        }).done(function(positions) {           

        positions.forEach(function(element){
            var geolocate = new google.maps.LatLng(element["location"][1], element["location"][0]);
            var marker = new google.maps.Marker({
                        position: geolocate,
                        map: map
                      });
            console.log(element);

            var infowindow = new google.maps.InfoWindow();

            google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
                    return function() {
                       infowindow.setContent(content);
                       infowindow.open(map,marker);
                    };
                })(marker,element["username"],infowindow));

            if(element["username"] == "{{g.user['username']}}"){
                map.setCenter(geolocate);
            } 

        });
    

        console.log("Map Drawn!");


        });
        


}
   	
   </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{g.api_key}}&callback=initLocalMap"
  type="text/javascript"></script>
{% endblock javascripts %}

{% endblock body %}